body { margin: 0; }
p{
    font-family: serif;
	padding: 5px 10px;
	background-color: transparent;
	color: red;
	font-size: 14px;
    transform: scaleY(calc(1/0.6));
}

.connectBtn{
	font-family: serif;
	padding: 5px 10px;
	border: solid 1px white;
	background-color: transparent;
	cursor: pointer;
	color: white;
	font-size: 18px;
	transform: scaleY(calc(1/0.6));
}